{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    
    <!-- Current User -->
    {{ request.user.username|json_script:"current-user" }}

    {% if user.is_authenticated %}
        <!-- Create Post -->
        <div id="create-post" class="row">
            <div class="col-8 offset-2 mb-4">
                <form id="post-form" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label></label>
                        <textarea id="post-content" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <button id="create-post-btn" type="submit" class="btn btn-primary" onclick="createPost()">
                            Send
                        </button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

{% endblock body %}

