{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    
    <!-- Current User -->
    {{ request.user.username|json_script:"current-user" }}

    {% if user.is_authenticated %}
        <!-- Title -->
        <h3 id="title" class="text-center"></h3>

        <!-- Profile -->
        <div id="profile-view" class="row">
            <div class="col-8 offset-2 mb-4">
                <div id="user-detail" class="text-center">
                    THIS IS PROFILE SECTION
                </div>
            </div>
        </div>
        
        <!-- Create Post -->
        <div id="create-post" class="row">
            <div class="col-8 offset-2 mb-4">
                <form id="post-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label></label>
                        <textarea id="post-content" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <button id="create-post-btn" type="button" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

    <div id="posts-view" class="row">
        <div class="col-10 offset-1">
            <div id="posts"></div>
        </div>
    </div>
{% endblock %}

