{% extends 'network/layout.html' %}
{% load static %}


{% block body %}
    <!-- Title -->
    <h3 id="title" class="text-center"> {{ profile.username }} Profile Page</h3>

    <!-- Profile -->
    <div id="profile-view" class="row">
        <div class="col-8 offset-2 mb-4">
            <div id="user-detail" class="text-center">
                <div id="following-count">Following: {{ profile.get_following|length }}</div>
                <div id="followers-count">Followers: {{ profile.get_followers|length }}</div>
            </div>
            <!-- Follow Button -->
            {% if user != profile %}
            <div id="follow-section" class="text-center">
                {% if profile in user.get_following %}
                <button id="follow-btn" type="button" class="btn btn-danger" onclick="toggleFollow(this, '{{ profile.id }}')">
                    Unfollow
                </button>
                {% else %}
                <button id="follow-btn" type="button" class="btn btn-primary" onclick="toggleFollow(this, '{{ profile.id }}')">
                    Follow
                </button>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>

    {% if user == profile %}
    <!-- Create Post -->
    <div id="create-post" class="row">
        <div class="col-8 offset-2 mb-4">
            <form id="post-form">
                <div class="form-group">
                    <label></label>
                    <textarea id="post-content" class="form-control" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <button id="create-post-btn" type="submit" class="btn btn-primary" onclick="createPost(this)">
                        Send
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}

{% endblock %}
