{% extends 'network/layout.html' %}
{% load static %}


{% block body %}
    <!-- Title -->
    <h3 id="title" class="text-center"> {{ user.username }} Profile Page</h3>

    <!-- Profile -->
    <div id="profile-view" class="row">
        <div class="col-8 offset-2 mb-4">
            <div id="user-detail" class="text-center">
                <div>Following: {{ user.get_following|length }}</div>
                <div>Followers: {{ user.get_followers|length }}</div>
            </div>
            <div id="follow" class="text-center">
                <button id="follow-btn" type="button" class="btn btn-primary" onclick="follow(this)">
                    Follow
                </button>
            </div>
        </div>
    </div>

{% endblock %}
