body {
    background-color: white;
}

.post-nav, .post-creator {
    cursor: pointer;
}

/* Typography */
.text-muted {
    font-size: 15px;
    font-weight: 400;
}

a:hover {
    text-decoration: none;
}

/* Icons */
.fa-heart {
    font-size: 18px;
    color: red;
}

.fa-heart-o {
    font-size: 18px;
    color: black;
}

.fa-edit {
    color: grey;
    cursor: pointer;
}

.fa-edit:hover {
    color: black;
}

/* Cards */


.card-header {
    background-color: white;
    border-bottom: none;
}

.card-body {
    padding-top: 0px;
}

.card-footer {
    border-top: none;
    background-color: white;
}

/* Post Form */
#post-form {
    background-color: white;
    padding: 0px 25px 15px 25px;
}

/* Buttons */

#follow-btn {
    border-radius: 25px;
    width: 100px;
}
